@import "../../variables.scss";

.Lobby {
    &__idMessage {
        width: 800px;
        cursor: pointer;
        border-color: color("secondary1", 4) !important;
        color: color("secondary1", 0) !important;

        p {
            font-size: 1rem !important;
        }
    }

    &__grid {
        width: 80vw;
        max-width: 800px;
    }
}
