.CategoryBox {
    position: relative;

    &__input {
        > input {
            text-transform: uppercase;
        }
    }

    &__untouched {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
    }

    &__dot {
        width: 8px;
        height: 8px;
        transition: background 0.5s ease-in-out;
        background: transparent;
        border: 1px solid #1a69a4;
        border-radius: 8px;
        margin: 0 2px;

        &--touched {
            background:  #2185d0;
        }
    }
}