.PageGame {
    display: flex;
    @media (orientation: landscape) {
        height: 100%;
    }
    @media (orientation: portrait) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    width: 100%;
    align-items: center;
}
